
<section class="content-header">
    <h1>
        创建移库记录（国内->亚马逊）
    </h1>
</section>
<section class="content" ng-controller="ShipmentCreateCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">订单基本信息
                    </h3>
                </div>
                <div class="box-body">
                    <div class="col-sm-6">
                        <h4>目的账号：</h4>
                        <select class="form-control" ng-model="formData.MarketplaceId" ng-options="m.MarketplaceId as m.account_name for m in accounts">
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <h4>物流公司：</h4>
                        <div class="col-sm-12 col-xs-12 col-md-12 input-horizontal">
                            <input type="text" class="form-control" placeholder="物流公司名称" ng-model="formData.company" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">本次发货的商品信息
                        <button class="btn btn-primary" ng-click="addItem();">添加商品</button>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="overflow-y: auto;">
                    <h4 style="color: red;" ng-show="error_msg">{{ error_msg }}</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 200px;">SKU</th>
                                <th>图片</th>
                                <th>商品名称</th>
                                <th>库存</th>
                                <th>发货数量</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in items">
                                <td>
                                    <div class="dropdown">
                                        <input class="lg dropdown-toggle" data-toggle="dropdown" ng-model="p.SellerSKU"
                                               ng-change="skuSearch(p.SellerSKU)" ng-click="focusSearchInput($event, p.SellerSKU)" style="width: 98%;">
                                        <ul class="dropdown-menu result-dropdown" style="left:{{ searchResultsPosition.x }};top:{{ searchResultsPosition.y }}">
                                            <li><a style="color:#333;">共{{ searchResults.length }}个商品</a></li>
                                            <li role="presentation" class="divider"></li>
                                            <li ng-repeat="tmp in searchResults">
                                                <a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="chooseProduct(p, tmp)">
                                                {{ tmp.SellerSKU }}<span style="margin-left:20px;color:#999;">{{ tmp.TitleCn }}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td><img ng-src="{{ p.product.Image }}" ng-if="p.product.Image"></td>
                                <td style="word-wrap:break-word;width: 250px;">{{ p.product.TitleCn }}</td>
                                <td>{{ p.product.domestic_inventory - p.product.shipment_count }}</td>
                                <td><input class="lg" ng-model="p.count"></td>
                                <td><a class="fa fa-trash-o text-red" ng-click="removeItem($index);" title="删除该记录"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="save();" ng-if="!id" style="margin-left: 16px;">保存</button>
    <div class="row" ng-if="userRole==='operator' && formData.status.code==='WaitForPack' && id">
        <div class="col col-md-12">
            <button ng-click="delete()" class="btn btn-danger"><i class="fa fa-trash-o"></i>删除</button>
            <button ng-click="save()" class="btn btn-primary">保存</button>
        </div>
    </div>
</section>