
<section class="content-header">
    <h1>
        创建移库记录（国内->亚马逊）
    </h1>
</section>
<section class="content" ng-controller="OutboundEditCtrl">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">添加货件信息</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-3 col-xs-6">
                                <label >货件Id</label>
                                <input type="text" class="form-control" placeholder="亚马逊货件Id" ng-model="formData.code">
                            </div>
                            <div class="form-group col-sm-3 col-xs-6">
                                <label >物流公司</label>
                                <input type="text" class="form-control" placeholder="" ng-model="formData.company">
                            </div>
                            <div class="form-group col-sm-3 col-xs-6">
                                <label >运单号</label>
                                <input type="text" class="form-control" placeholder="" ng-model="formData.tracking_number">
                            </div>
                            <div class="form-group col-sm-3 col-xs-6">
                                <label >总运费({{ currency }})</label>
                                <input type="text" class="form-control" placeholder="" ng-model="formData.traffic_fee">
                            </div>
                            <div class="form-group col-sm-3 col-xs-6">
                                <label >总关税({{ currency }})</label>
                                <input type="text" class="form-control" placeholder="" ng-model="formData.tax_fee">
                            </div>
                            <div class="form-group col-sm-3 col-xs-6">
                                <input ng-model="formData.product" hidden>
                                <label>创建时间</label>
                                <!--
                                <div class="datepicker">
                                    <div class="datepicker"
                                         date-format="yyyy-MM-dd"
                                         button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                         button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                        <input ng-model="formData.ship_date" type="text" placeholder="请选择发货日期" class="angular-datepicker-input form-control" required />
                                    </div>
                                </div>
                                -->
                                <label class="form-control">{{ formData.create_time }}</label>
                            </div>
                            <div class="form-group col-sm-3 col-xs-6">
                                <label >总数量</label>
                                <input type="text" class="form-control" placeholder="" ng-model="formData.count">
                            </div>
                            <div class="form-group col-sm-3 col-xs-6">
                                <label>箱子数量</label>
                                <label class="form-control">{{ formData.box_count }}</label>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <!--<div class="box-footer">-->
                    <!--<button type="submit" class="btn btn-primary" ng-click="submitForm();">保存</button>-->
                    <!--</div>-->
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">货运详情
                        <button class="btn btn-primary" ng-click="addBox();">增加包装箱</button>
                    </h3>
                </div>
                <div class="box-body" style="overflow-y: auto;">
                    <h4 style="color: red;" ng-show="error_msg">{{ error_msg }}</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th style="width: 150px;">SKU</th>
                            <th style="width: 200px;">名称</th>
                            <th style="width: 80px;">数量</th>
                            <th ng-repeat="box in boxs">箱子{{ $index+1 }}</th>
                            <th>已装箱数量</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in items">
                            <td>{{p.SellerSKU}}</td>
                            <td>{{ p.product.TitleCn}}</td>
                            <td>{{ p.count }}</td>
                            <td ng-repeat="box in boxs"><input ng-model="box.products[p.id]"></td>
                            <td>{{ p.boxed_count }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">总数量</td>
                            <td>{{ formData.count }}</td>
                            <td ng-repeat="box in boxs">{{ box.count }}</td>
                            <td>{{ formData.boxed_count }}</td>
                        </tr>
                        <tr>
                            <td colspan="3">包装箱重量(ib.)</td>
                            <td ng-repeat="box in boxs"><input ng-model="box.itn_weight"></td>
                            <td>{{ formData.total_itn_weight }}</td>
                        </tr>
                        <tr>
                            <td colspan="3">包装箱尺寸(长*宽*高)IN.</td>
                            <td ng-repeat="box in boxs">
                                <input ng-model="box.itn_length" style="width: 30%">
                                <input ng-model="box.itn_width" style="width: 30%">
                                <input ng-model="box.itn_height" style="width: 30%">
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3">包装箱重量(kg)</td>
                            <td ng-repeat="box in boxs"><input ng-model="box.weight"></td>
                            <td>{{ formData.total_weight }}</td>
                        </tr>
                        <tr>
                            <td colspan="3">包装箱尺寸(长*宽*高)cm</td>
                            <td ng-repeat="box in boxs">
                                <input ng-model="box.length" style="width: 30%">
                                <input ng-model="box.width" style="width: 30%">
                                <input ng-model="box.height" style="width: 30%">
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="userRole === formData.status.role">
        <div class="col col-md-12">
            <button ng-click="update()" class="btn btn-primary">提交</button>
        </div>
    </div>
</section>