
<section class="content-header">
    <h1>
        创建移库记录（国内->亚马逊）
    </h1>
</section>
<section class="content" ng-controller="OutboundEditCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">本次发货的商品信息
                        <button class="btn btn-primary" ng-click="addProductRow();">添加商品</button>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="overflow-y: auto;">
                    <h4 style="color: red;" ng-show="error_msg">{{ error_msg }}</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>SKU</th>
                                <th>商品名称</th>
                                <th>发货数量</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in items">
                                <td><input class="lg" ng-model="p.SellerSKU" ng-blur="getProductInfo($index, p.SelerSKU)"></td>
                                <td>{{ p.name }}</td>
                                <td><input class="lg" ng-model="p.count"></td>
                                <td><a class="fa fa-trash-o text-red" ng-click="remove($index);" title="删除该记录？"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="save();">保存</button>
</section>