<section class="content-header">
    <h1>
        赠品商品列表
    </h1>
</section>
<section class="content" ng-controller="GiftPackingListCtrl">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border" ng-if="userRole === 'godown_manager'">
                    <h3 class="box-title"><a type="button" ui-sref="index.giftsCreate()" class="btn btn-block btn-primary">赠品商品打包</a></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="productTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>商品SellerSKU</th>
                                <th>图片</th>
                                <th>描述</th>
                                <th>数量</th>
                                <th>打包时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in records"table-repeat-directive>
                                <td>
                                    <!-- <a href="#" ui-sref="index.purchasingDetail({orderId: p.id})"> {{ $index + 1 }}</a> -->
                                    {{ $index + 1 }}
                                </td>
                                <td>{{ p.product.SellerSKU }}</td>
                                <td><img ng-src="{{ p.product.Image }}"></td>
                                <td>{{ p.product.TitleCn }}</td>
                                <td>{{ p.count }}</td>
                                <td>{{ p.create_time }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>