
<section class="content-header">
    <h1>
        订单详情
    </h1>
</section>
<section class="content" ng-controller="PurchasingOrderDetailCtrl">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="box-header with-border">
                  <h3 class="box-title">采购单基本信息</h3>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >合同单号：</span><span>{{order.contract_number}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >供应商：</span><span>{{order.supplier}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >联系人：</span><span>{{order.contact_person}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >联系方式：</span><span>{{order.contact_phone}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >经办人：</span><span>{{ order.operator }}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >采购时间：</span><span>{{order.create_time}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >采购人员：</span><span>{{order.creator}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >预计交换日期：</span><span>{{order.expect_date}}</span>
                </div>
            </div>

        </div>
    </div>
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="form-group col-sm-3 col-xs-6">
                    <span >采购总数量：</span><span>{{order.count}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >商品总价：</span><span>{{order.total_price}}元</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3 col-xs-6">
                    <span >预付款：</span><span>{{order.deposit}}元</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >尾款：</span><span>{{order.total_price-order.deposit}}元</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span>运费：</span><span>{{order.traffic_fee}}元</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3 col-xs-6">
                    <span >总支付：</span><span>{{order.deposit}}元</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >待支付：</span><span ng-class="{'text-red': order.next_to_pay}">{{order.next_to_pay}}元</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3 col-xs-6">
                    <span >到货数量：</span><span>{{order.received_count}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >损坏数量：</span><span ng-class="{'text-red': order.damage_count}">{{order.damage_count}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >在途数量：</span><span>{{order.expect_count}}</span>
                </div>
            </div>

        </div>
    </div>
    <!-- /.box -->
    <div class="row" ng-if="order.items.length">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">采购商品</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="productTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>商品SKU</th>
                            <th>图片</th>
                            <th>描述</th>
                            <th>采购数量</th>
                            <th>单价(元)</th>
                            <th>总价</th>
                            <th>已入库数量</th>
                            <th>损坏数量</th>
                            <th>物流费(元)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in order.items">
                            <td>{{ p.SellerSKU }}</td>
                            <td><img ng-src="{{ p.product.Image }}"> </td>
                            <td>{{p.product.TitleCn}}</td>
                            <td>{{ p.count}}</td>
                            <td>{{ p.price }}</td>
                            <td>{{p.total_price}}</td>
                            <td>{{p.received_count}}</td>
                            <td>{{p.damage_count}}</td>
                            <td>{{ p.traffic_fee }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-body">
            <div class="box-header with-border">
              <h3 class="box-title">打款记录</h3>
            </div>
            <div class="row" ng-repeat="p in order.payments">
                <div class="form-group col-sm-3 col-xs-6">
                    <span >打款时间：</span><span>{{p.pay_time}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >支付数额：</span><span>{{p.payed}}元</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >说明：</span><span>{{p.payment_comment}}</span>
                </div>
            </div>

        </div>
    </div>
    <div class="row" ui-view=""></div>
</section>