
<section class="content-header">
    <h1>
        订单详情
    </h1>
</section>
<section class="content" ng-controller="PurchasingOrderDetailCtrl">
    <!-- general form elements -->
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="box-header with-border">
                  <h3 class="box-title">采购单基本信息
                      <a class="fa fa-edit" ng-click="clickEditOrderInfo()" ng-if="order.status.code !=='FINISH' && (userRole==='purchasing' || userRole==='admin')"></a>
                  </h3>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >合同单号：</span><span>{{order.contract_number}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >供应商：</span><span>{{order.supplier}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >联系人：</span><span>{{order.contact_person}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >联系方式：</span><span>{{order.contact_phone}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >经办人：</span><span>{{ order.operator }}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >采购时间：</span><span>{{order.create_time}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >采购人员：</span><span>{{order.creator}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >预计交货日期：</span><span>{{order.expect_date}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >订单状态：</span><span>{{order.status.name}}</span>
                    <button class="btn btn-primary" ng-if="order.status.code==='WaitForPayment' && userRole==='finance'" ng-click="openPayModal()">确认付款金额</button>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >当前责任人：</span><span>{{order.status.role_name}}</span>
                </div>
            </div>

        </div>
    </div>
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="form-group col-sm-3 col-xs-6">
                    <span >采购总数量：</span><span>{{order.count}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >商品总价：</span><span>{{order.total_price}}元</span>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="form-group col-sm-3 col-xs-6">
                    <span >预付款：</span><span>{{order.deposit}}元</span>
                    <a class="btn btn-primary" href="javascript:void(0)" ng-click="openPayModal()"
                       ng-if="userRole==='finance' && order.status.code==='WaitForDepositPayed'">支付</a>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >尾款：</span><span>{{order.total_price-order.deposit}}元</span>
                    <a class="btn btn-primary" href="javascript:void(0)" ng-click="openPayModal()"
                       ng-if="userRole==='finance' && order.status.code==='WaitForPaying'">支付</a>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span>运费：</span><span>{{order.traffic_fee}}元</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >总支付：</span><span>{{order.total_payed}}元</span>
                </div>
            </div>
            -->
            <div class="row">
                <div class="form-group col-sm-3 col-xs-6">
                    <span >到货数量：</span><span>{{order.received_count}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >损坏数量：</span><span ng-class="{'text-red': order.damage_count}">{{order.damage_count}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >在途数量：</span><span>{{order.expect_count}}</span>
                </div>
            </div>

        </div>
    </div>
    <div style="padding: 0 0px 8px 16px;">
        <div class="row">
            <a class="btn btn-primary" href="" ng-click="gotoNextStep(3)"
               ng-if="order.status.code === 'WaitForProducing' && order.status.role === userRole">生产完成，提交财务打尾款</a>
            <a type="button" class="btn btn-primary" ng-click="openInboudModal()" ng-if="canCreate"><i class="fa fa-plus"></i>添加物流信息</a>
            <a class="btn btn-primary" ui-sref="index.purchasingCreate({id: order.id})" title="修改"
                ng-if="userRole==='purchasing_agent' && order.status.code==='WaitForDepositPayed'">
                <i class="fa fa-pencil"></i> 编辑
            </a>
            <a class="btn btn-warning" href="" ng-click="toCloseOrder()"
                ng-if="userRole==='purchasing_agent' && (order.status.code==='WaitForCheck' || order.status.code==='PurchasingPaymentRefresh')">
                已全部入库，提交财务处理
            </a>
        </div>
    </div>
    <!-- /.box -->
    <div class="row" ng-if="order.items.length">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">采购商品</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="productTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>商品SKU</th>
                            <th>图片</th>
                            <th>描述</th>
                            <th>采购数量</th>
                            <th>单价(元)</th>
                            <th>预计总价(元)</th>
                            <th>总花费(元)</th>
                            <th>已入库数量</th>
                            <th>损坏数量</th>
                            <th>物流费(元)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in order.items">
                            <td><a ui-sref="index.productDetail({productId: p.id})">{{ p.SellerSKU }}</a></td>
                            <td><img ng-src="{{ p.product.Image }}"></td>
                            <td>{{p.product.TitleCn}}</td>
                            <td>{{ p.count}}</td>
                            <td>{{ p.price }}</td>
                            <td>{{p.total_price}}</td>
                            <td>{{ p.total_fee }}</td>
                            <td>{{p.received_count}}</td>
                            <td>{{p.damage_count}}</td>
                            <td>{{ p.traffic_fee }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div ng-include="'/static/templates/purchasing/inbounds-list.html'"></div>
    <!--
    <div class="row" ng-if="order.items.length" ng-controller="PurchasingInboundsCtrl">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">物流历史
                    </h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>物流单号</th>
                            <th>物流公司</th>
                            <th>发货日期</th>
                            <th>发货数量</th>
                            <th>尾款(元)</th>
                            <th>到货数量</th>
                            <th>损坏数量</th>
                            <th>状态</th>
                            <th>当前处理人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in inbounds" table-repeat-directive>
                            <td>{{ p.tracking_number}}</td>
                            <td>{{p.tracking_company}}</td>
                            <td>{{ p.shipping_date}}</td>
                            <td>{{ p.expect_count}}</td>
                            <td>{{ p.final_payment }}</td>
                            <td>{{ p.received_count }}</td>
                            <td>{{p.damage_count}}</td>
                            <td>{{ p.status.name }}</td>
                            <td>{{ p.status.role_name }}</td>
                            <td>
                                <a href="javascript:void(0)" ng-click="openInputModal(p)" ng-if="p.status.code==='WaitForInbound' && userRole===p.status.role">入库</a>
                                <a href="javascript:void(0)" ng-click="openPayModal(p)" ng-if="userRole===p.status.role && p.status.code === 'WaitForTrafficFeePayed'">打款</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    -->
    <!--
    <div class="box box-primary">
        <div class="box-body">
            <div class="box-header with-border">
              <h3 class="box-title">打款记录</h3>
            </div>
            <div class="row" ng-repeat="p in order.payments">
                <div class="form-group col-sm-3 col-xs-6">
                    <span >打款时间：</span><span>{{p.pay_time}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >支付数额：</span><span>{{p.payed}}元</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >款项说明：</span><span>{{p.fee_comment}}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <span >备注：</span><span>{{p.payment_comment}}</span>
                </div>
            </div>

        </div>
    </div>
    -->
    <div class="row" ui-view=""></div>
</section>